.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
}
.search {
    width: 361px;
    height: var(--search-height);
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        background: transparent;
        outline: none;
        height: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: 36.3%;
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}
.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}
